.hidden {
  display: none;
}
body::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

body > * {
  color: white;
  position: relative;
}

input {
  color: black;
}

button {
  color: black;
  font-weight: 600;
}

#todo-list {
  color: tomato;
}